<span *ngFor="let subData of randomArticles; let even=even; let odd=odd; let last=last; let i=index;">
    <div *ngIf="even && i < 8" class="sub-container large" style="float: left;">
        <a [routerLink]="['Article-pages', {eventType: subData.eventType, eventID: subData.eventID}]">
            <img class="sub-container-image" src="{{subData.images}}"
                 onerror="this.src='/app/public/no-image.svg'"/>
            <div class="sub-container-content">
                {{subData.title}}
            </div>
        </a>
        <div *ngIf="i != 6" class="sub-container-hr"></div>
    </div>
    <div *ngIf="odd && i < 8" class="sub-container large" style="float: right;">
        <a [routerLink]="['Article-pages', {eventType: subData.eventType, eventID: subData.eventID}]">
            <img class="sub-container-image" src="{{subData.images}}"
                 onerror="this.src='/app/public/no-image.svg'"/>
            <div class="sub-container-content">
                {{subData.title}}
            </div>
        </a>
        <div *ngIf="i != 7" class="sub-container-hr"></div>
    </div>
    <div *ngIf="i < 6" class="sub-container small">
        <a [routerLink]="['Article-pages', {eventType: subData.eventType, eventID: subData.eventID}]">
            <img class="sub-container-image" src="{{subData.images}}"
                 onerror="this.src='/app/public/no-image.svg'"/>
            <div class="sub-container-content">
                {{subData.title}}
            </div>
        </a>
    </div>
</span>